@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 213, 238, 252;
  --background-start-rgb: 1, 10, 14;
  --background-end-rgb: 5, 45, 66;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
