@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 213, 238, 252;
  --background-start-rgb: 11, 13, 30;
  --background-end-rgb: 85, 46, 127;
}

.filter-white {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%)
    hue-rotate(45deg) brightness(102%) contrast(101%);
}
